.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 227, 213);
}

.login-form{
    display: flex;
    width: 27%;
    height: 60%;
    flex-direction: column;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 12px;
}

.login-title{
    font-size: 30px;
}

.login-form label{
    display: flex;
    width: 80%;
    align-items: center;
    font-size: 24px;
    margin-right: 45px;
    gap: 10px;
}

.login-form input{
    height: 50px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.label-email{
    margin-left: 65px;
    margin-top: 50px;
}

.label-password{
    margin-bottom: 30px;
}

#login-btn{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.error{
    display: none;
    position : relative;
    bottom: 30px;
    color: rgb(163, 4, 4);
    font-size: 20px;
}

#login-btn:hover{
    background-color: blue;
}

