<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/login">
            <label for="username">
                <span>Username : </span>
                <input type="text" id="username" name="username">
            </label>
            <label for="password">
                <span>Password : </span>
                <input type="text" id="password" name="password">
            </label>
            <button>Login</button>
        </form>
    </div>
</body>
</html>